$blue: #0174DF


body 
  background-image: url(/images/painting.png)

.name
  background-color: rgb(235, 226, 226)
  font-family: Courier
  font-size: 50px
  color: rgb(88, 87, 87)
  /*src: url(/public/TalkingToTheMoon.ttf)*/
  text-align: center
  width: 30%
